/* header */
header{width: 100%; height: 4em; background-color: transparent; display: flex; justify-content: space-between; border-bottom: 1px solid #fff; position: relative; position: fixed; align-items: center; cursor: pointer; z-index: 100;}
header::before{
  content: '';
  width: 100%; height: 0em; background-color: #11131650;
  position: absolute; left: 0; top: 4em;
}
header:hover{background-color: #fff;}
header:hover .logo img{display: none;}
header:hover .logo{background: url(../images/logo_o.png); width: 192px; height: 29px;}
header:hover nav>ul>li>a{color: #000;}
/* 자바스크립트에서 클래스 추가삭제 */
header.on::before{height: 10rem;}
header:hover, header.bg{}
/* logo */
.logo{margin: 0 70px;}
/* nav */
nav{text-align: center;}
nav>ul{display: flex; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
nav>ul>li{position: relative;}
nav>ul>li>a{display: block; height: 4em; line-height: 4em; padding: 0 2em; color: #fff; font-weight: 400; position: relative;}
nav>ul>li>a::before{
  content: ''; position: absolute;
  height: 5px; width: 0; background-color: #66C8AF; left: 50%; transform: translateX(-50%); transition: 0.5s;
}
nav>ul>li:hover>a::before{width: 70%;}
.inner{position: absolute; left: 0; top: 4em; width: 100%; height: 10em; line-height: 1.3; padding-top: 1em; display: none;}
nav>ul>li:hover .inner{background-color: #282C34; display: block;}
.inner li a{color: #fff; font-size: 0.8em;}
.inner li a:hover{color: #fff;}
nav>ul>li:hover header::before{height: 10em;}
/* button */
.menu{display: none;}
header .reserve{width: 231px; height: 80px; background: url(../images/btn_bg.jpg) no-repeat right; transition: .3s; margin-right: 70px;}
header .reserve a{color: #fff; display: block; text-align: start; padding-left: 1em; font-size: 15px;}
header .reserve:hover{background-position: left;}
/* main */
/* main_visual */
.main_visual{width: 100%; height: 100vh; position: relative;}
.video_wrap{position: absolute; left: 0; top: 0; right: 0; z-index: -10; width: 100%; height: inherit; overflow: hidden;}
.video_wrap video{width: 100%; height: 100%; object-fit: cover;}
/* main_text */
.main_text{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;}
.main_text span, .main_text strong{color: #fff; display: block;}
.main_text span{font-size: 1.5rem;}
.main_text strong{font-size: 3rem; margin: 1rem;}
.main_text a{display: inline-block; border: 1px solid #fff; padding: 0.8rem 3.8rem; color: #fff; font-size: 1.1rem; margin-top: 1rem; position: relative; overflow: hidden;}
.main_text a:hover{color: #0F7258;}
.main_text a::before{
  content: ''; position: absolute;
  width: 200%; height: 200%; background-color: #fff; z-index: -2;
  transform: skew(-30deg); left: -210%; top: -1.5rem; transition: .6s;
}
.main_text a:hover::before{left: -80px;}
.main_text a i{display: inline-block; width: 29px; height: 11px; background: url(../images/more_arrow.png) no-repeat right; position: relative; margin-left: 0.5rem; transition: .4s; transition-delay: .1s; }
.main_text a:hover i{background-position: left;}
/* icon */
.icon{position: absolute; bottom: 0; left: 50%; transform: translate(-50%); width: 1200px;}
.icon ul{display: flex; background-color: #282C3460;}
.icon ul li{flex: 1; text-align: center;}
.icon ul li a{display: block; padding:  2rem 0; position: relative; color: #fff;}
.icon ul li a::before, .icon ul li a::after{
  content: ''; position: absolute;
  width: 45%; height: 5px; transform: translate(-50%); background: #0F7258; transform: .4s; opacity: 0;
}
.icon ul li a::before{top: 0;}
.icon ul li a::after{bottom: 0;}
.icon ul li a:hover::before, .icon ul li a:hover::after{opacity: 1;}
.icon ul li a span{width: 50px; height: 44px; display: block; background-repeat: no-repeat; margin: 0 auto; transition: .4s;}
.icon ul li a span.icon1{background: url(../images/quick_icon01.png);}
.icon ul li a span.icon2{background: url(../images/quick_icon02.png);}
.icon ul li a span.icon3{background: url(../images/quick_icon03.png);}
.icon ul li a span.icon4{background: url(../images/quick_icon04.png);}
.icon ul li a span.icon5{background: url(../images/quick_icon05.png);}
.icon ul li a span.icon6{background: url(../images/quick_icon06.png);}
.icon ul li a h3{font-size: 17px; font-weight: 400; margin-top: 1em;}
.icon ul li a:hover{background: #fff; color: #38AC8E;}
.icon ul li a:hover span{background-position: right;}
/* service */
.service{width: 1200px; margin: 0 auto; text-align: center;}
.service h2{margin-top: 4em; margin-bottom: 0.5em; font-size: 2em; font-weight: 600;}
.service p{font-size: 1.2em; font-weight: 300; color: #a5a5a5; margin-bottom: 2em;}
.service_content ul{display: flex; justify-content: space-between;}
.service_content ul li{position: relative; display: block; width: 380px; height: 380px; box-shadow: 10px 10px 20px rgb(141, 141, 141);}
.ser_text{position: absolute; bottom: 0; left: 0; text-align: left; width: 100%; height: 160px; padding: 1.5em 0 0 20px; z-index: 1;}
.ser_text strong{color: #fff; margin-bottom: 0.5em; display: block; font-size: 1.5em;}
.ser_text p{line-height: 1.5em; color: #bcbcbc; font-size: .8em;}
.service_content ul li a{display: block; position: relative; background-color: #0F7258; width: 100%; height: 100%; overflow: hidden;}
.service_content ul li a img{transition: .3s;}
.service_content ul li a:hover img{opacity: 0.8;}
.service_content ul li a .ser_text::before{
  content: ''; width: 100%; height: 100%;
  position: absolute; left: -100%; bottom: 0;
  background: url(../images/ser_textbg.png) no-repeat 100% 100%;
  background-size: cover; z-index: -1; transition: .3s;
}
.service_content ul li a:hover .ser_text::before{left: 0;}
/* expert_techniquer */
.expert_techniquer{position: relative;}
.expert_techniquer::before{
  content: ''; width: 100%; height: 2113PX;
  position: absolute; right: 0;
  background: url(../images/expert_bg.png) no-repeat 100% 100% / cover;
  z-index: -2;
}
.expert_techniquer_inner{width: 1200px; margin: auto; padding-top: 8rem;}
.expert_techniquer .title{text-align: left; font-size: 1.8rem; font-weight: 600; color: #333;}
.expert_techniquer .subTitle{color: #626262; margin: 1rem 0;}
.expert_techniquer .expert{display: flex; justify-content: space-between; position: relative;}
.expert_techniquer .expert li{position: relative; overflow: hidden; box-shadow: 10px 10px 20px #00000020;}
.expert_techniquer .expert li a img{transition: .3s;}
.expert_techniquer .expert li a .text{display: flex; flex-direction: column; justify-content: center; gap: 0.5em; position: absolute; bottom: 0; left: 0; width: 100%; height: 30%; background-color: #2D2D2D50; color: #fff; padding-left: 2em; transition: .3s;}
.expert_techniquer .expert li a .text::before{
  content: ''; width: 3px; height: 80%;
  position: absolute; left: 1em; top: 0;
  background-color: #fff;
}
.expert_techniquer .expert li a .text span{font-size: 1rem; font-weight: 300;}
.expert_techniquer .expert li a .text strong{font-size: 1.5rem; font-weight: 400;}
.expert_techniquer .expert li:hover img{transform: scale(1.1);}
.expert_techniquer .expert li:hover a .text{background-color: #08332770;}
.homeCheck{display: flex; margin-top: 2rem;}
.homeCheck .text{width: 40%; align-self: flex-end;}
.homeCheck .text h3{color: #fff; position: relative; margin-bottom: 3rem; font-weight: 600; font-size: 2rem;}
.homeCheck .text h3::after{
  content: ''; width: 120%; height: 1px;
  position: absolute; bottom: -2rem; left: -1rem;
  background-color: #fff; z-index: 80;
}
.homeCheck .text p{color: #fff; line-height: 2; font-weight: 300; margin-bottom: 1rem;}
.homeCheck .img{flex: 1; position: relative;}
.homeCheck .img img{box-shadow: 10px 10px 20px #00000020;}
.homeCheck .img .play{width: 100px; height: 100px; position: absolute; left: 50%; top: 50% ;transform: translate(-50%, -50%); cursor: pointer; background: url(../images/video_play.png) no-repeat 50% 50% / 100%;}
/* awards */
.awards{margin-top: 9rem;}
.awards_inner{width: 1200px; margin: auto; color: #fff; text-align: center;}
.awards_inner h2{font-size: 2.5rem;}
.awards_inner p{font-weight: 300; margin-top: 1rem;}
.awards_content ul{display: flex; margin: 50px 0; justify-content: space-between;}
.awards_content ul li{width: 31%; background-color: #082E23; display: flex; align-items: center; justify-content: center; padding: 3rem 0; position: relative;}
.awards_content ul li::before, .awards_content ul li::after{
  content: ''; width: 50%; height: 5px;
  position: absolute; left: 50%; transform: translateX(-50%);
  background-color: #fff;
}
.awards_content ul li::before{top: 0;}
.awards_content ul li::after{bottom: 0;}
.awards_content ul li .text{text-align: start; padding-left: 2rem;}
.awards_content ul li .text strong{font-size: 2.5rem; display: block; margin-bottom: 1rem;}
.awards_content ul li .text p{font-size: 1.2rem;}
.awards_list ul{display: flex; justify-content: space-between;}
.awards_list ul li{width: 48%; text-align: start; font-size: 1rem; font-weight: 300; line-height: 1.5; position: relative; padding-left: 20px;}
.awards_list ul li::before{
  content: ''; width: 10px; height: 10px;
  position: absolute; left: 0; top: 5px; transform: rotate(15deg);
  border: 2px solid #fff;
}
/* common */
.btn_more{border: 5px solid #ddd; width: 60px; height: 60px; position: absolute; transition: .3s; top: 0;}
.btn_more::before{
  content: ''; width: 100%; height: 100%;
  position: absolute; left: -8px; top: -8px; transition: .3s;
  border: 1px solid #ddd; z-index: -1;
}
.btn_more::after{
  content: ''; width: 20px; height: 20px;
  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); transition: .3s;
  background: url(../images/more_plus.png) no-repeat center center;
}
.btn_more:hover{border-color: #0F7258;}
.btn_more:hover::before{left: 0; top: 0; opacity: 0;}
.btn_more:hover::after{transform: translate(-50%, -50%) rotate(180deg);}
/* news */
.news{position: relative; overflow: hidden;}
.news::before{
  content: ''; width: 900px; height: 580px;
  position: absolute; right: 3%; top: 160px; transform: scale(.75);
  background: url(../images/info_img03.jpg) no-repeat; opacity: .2;
}
.news_inner{width: 1200px; margin: 6rem auto;}
.title_wrap{text-align: right; position: relative; float: right; top: 100px; width: 32%;}
.title_wrap::before{
  content: ''; width: 250px; height: 2px; 
  position: absolute; top: 58px; right: 0;
  background:#ddd; 
}
.title_wrap .title{font-size: 2.5rem; text-align: left;}
.title_wrap .subTitle{text-align: left; margin-top: 40px; color: #626262;}
.news_content{display: flex;}
.news_content .left{width: 65%; display: flex; justify-content: flex-end; flex-wrap: wrap;}
.news_content .left li:nth-child(1){width: 70%; height: 210px;}
.news_content .left li:nth-child(2){width: 100%; margin-top: 20px;}
.news_content ul li img{width: 100%; transition: .3s;}
.news_content ul li a{display: block; height: 100%; position: relative; box-shadow: 10px 10px 10px rgba(0, 0, 0, .3); background-color: #0F7258;  overflow: hidden; transition: .3s;}
.news_content ul li a:hover img{transform: scale(1.1); opacity: .8;}
.news_content ul li a .text{position: absolute; left: 0; bottom: 0; right: 0; padding: 1.5rem .5rem 1.5rem 2rem; background-color: #2d2d2d50; transition: .3s;}
.news_content ul li a .text span{color: #fff; font-size: .9rem; display: block; font-weight: 300; margin-top: 10px;}
.news_content ul li a .text strong{color: #fff; font-size: 1.2rem; font-weight: 400; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block;}
.news_content ul li a:hover .text{background-color: #0F725880;}
.news_content ul li a .text::before{
  content: ''; width: 2px; height: 80%;
  position: absolute; top: 0; left: 1rem;
  background-color: #fff;
}
.news_content .right{width: 32%; position: relative; top: 16rem; left: 2rem;}
/* consumers */
.consumers_inner{width: 1200px; margin: 0 auto; position: relative;}
.consumers_inner .title_wrap{width: 100%; position: absolute; top: 0;}
.consumers_inner .title_wrap .title{font-size: 2rem;}
.consumers_inner .title_wrap .subTitle{font-size: 1.2rem; position: absolute; top: 5px;}
.consumers_inner .title_wrap::before{
  content: ''; width: 100%; height: 2px; 
  position: absolute; top: 70px; right: 0;
  background:#ddd; 
}
.consumers_inner .title_wrap .btn_more{right: 0; top: 12px;} 
.thumnail{width: 100%; padding-top: 120px;}
.thumnail ul{display: flex; width: 100%;}
.thumnail ul li{width: 25%;}
.thumnail ul li a .img{display: block; width: 285px; height: 207px; background-color: #000; position: relative; transition: .3s;}
.thumnail ul li a .img::before{
  content: ''; width: 20px; height: 20px;
  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
  background: url(../images/more_plus.png) no-repeat center center; opacity: 0; transition: .3s;
}
.thumnail ul li a img{width: 285px; height: 207px; background-color: #000; transition: .3s;}
.thumnail ul li:nth-child(1) img, .thumnail ul li:nth-child(4) img{object-fit: cover; object-position: top right;}
.thumnail ul li .text{margin-top: 1rem;}
.thumnail ul li .text .icon_best{background: url(../images/best_icon.jpg) no-repeat; width: 34px; height: 17px;}
.thumnail ul li .text strong{color: #000; font-size: 1.1rem; font-weight: 400; display: block; margin: .3rem 0 .5rem 0;}
.thumnail ul li .text .name, .thumnail ul li .text .date{color: #999; font-size: .9rem;}
.thumnail ul li .text .name{position: relative; padding-right: 5px; margin-right: 3px;}
.thumnail ul li .text .name::after{
  content: ''; width: 2px; height: .9rem;
  position: absolute; right: 0px; top: 50%; transform: translateY(-50%);
  background-color: #999;
}
.thumnail ul li:hover a img{border: 10px solid #38AC8E; opacity: .8;}
.thumnail ul li:hover a .img::before{opacity: 1; z-index: 100;}
/* board */
.board{display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 5rem;}
.board>div{width: 48%;}
.board .title_wrap{position: relative;}
.board .title_wrap .title{position: absolute; top: 1rem;}
.board .btn_more{top: -3px;}
.board ul{margin-top: 1rem; padding-top: 100px;}
.board ul li{border-bottom: 1px dashed #eee;}
.board ul li a{display: block; padding: 15px 3px; color: #647671; position: relative;}
.board ul li a .new{position: absolute; top: 50%; transform: translateY(-50%);}
.board ul li a::after{
  content: '..'; letter-spacing: 2px;
  position: absolute; right: 1rem;
}
.board ul li a span{display: inline-block; max-width: 60%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0 10px; line-height: 33px;}
.board ul li a:hover{background-color: #f5f5f5; color: #222;}
/* btn */
.consumers_inner .btn_reserve{display: block; border: 1px solid #4c9280; height: 3rem; width: 15rem; text-align: center; line-height: 3rem; color: #4c9280; margin: 4rem auto 5rem; transition: .4s; transition-delay: .2s; position: relative; overflow: hidden;}
.consumers_inner .btn_reserve i{display: inline-block; width: 29px; height: 11px; background: url(../images/go_more_arrow.png) no-repeat right; margin-left: .5rem; margin-bottom: .3rem; transition: .4s;}
.consumers_inner .btn_reserve::before{
  content: ''; width: 180%; height: 200%;
  position: absolute; left: -200%; top: -10px; transform: skew(-35deg);
  background-color: #4c9280; z-index: -1; transition: .6s;
}
.consumers_inner .btn_reserve:hover{color: #fff;}
.consumers_inner .btn_reserve:hover::before{left: -20%;}
.consumers_inner .btn_reserve:hover i{background-position: left;}
/* footer */
/* site_map */
.site_map_wrap{background-color: #262626;}
.site_map{width: 1200px; margin: auto; padding: 30px 0;}
.site_map>ul{display: flex; flex-wrap: wrap; border-right: 1px solid #373838;}
.site_map>ul>li{width: 25%; height: 230px; padding-left: 30px; border-left: 1px solid #373838;}
.site_map>ul>li>strong{font-weight: 600; font-size: 18px; color: #66C8AF;}
.site_map_inner{margin-top: 35px;}
.site_map_inner li{margin-bottom: 10px;}
.site_map_inner li a{color: #939393; font-size: 16px; font-weight: 500; position: relative;}
.site_map_inner li a:hover{color: #fff;}
.site_map_inner li a::before{
  content: ''; transition: .3s;
  width: 0; height: 2px; background-color: #fff;
  position: absolute; left: -30px; top: 50%; transform: translateY(-50%);
}
.site_map_inner li a:hover::before{width: 12px;}
/* sns */
footer .sns{margin: 2em 0;}
footer .sns ul{display: flex; justify-content: center;}
footer .sns ul li~li{margin-left: 20px;}
footer .sns ul li:hover a img{animation: ani .5s;}
@keyframes ani {
  0%{transform: translateY(0);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(0);}
}
/* footer_logo */
.footer{width: 1200px; margin: auto; display: flex; flex-wrap: wrap; padding-bottom: 3rem;}
.footer .footer_logo{width: 26%;}
.footer address{width: 74%; font-size: 15px; color: #959595; font-style: normal;}
.footer address p{line-height: 1.6;}
.footer address p~p{margin-top: 20px; font-size: 14px;}
.footer address p i{display: inline-block; width: 1px; height: 12px; background-color: #959595; position: relative; margin: 0 9px;}
.footer address p em{color: #2D2D2D; font-style: normal;}
.footer address p span{color: #66C8AF;}